body {
    background-color: #afd4ef;
    font-family: "Figtree", sans-serif;
    padding-top: 80px;
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 60px;
    width: auto;
    padding-bottom: 4px;
}

.navbar-nav {
    gap: 10px;
}

.nav-item .nav-link {
    color: #105aba;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-item .nav-link:hover {
    color: #f9e506;
}

.nav-title {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-family: "Amiri", serif;
}

.title-line1 {
    font-size: 36px;
    font-weight: bold;
    color: #105aba;
}

.title-line2 {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #333;
}

.btn-primary {
    background-color: #105aba;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #f9e506;
    color: black;
}

.section-header {
    font-size: 40px;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.hover-zoom:hover {
    transform: scale(1.02);
}

.carousel-img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-item img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#imgCarousel {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#imgCarousel, .carousel-inner, .carousel-item {
    height: 100%;
}


.img-fluid {
    border-radius: 10px;
}

.navbar-logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.nav-title {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    font-family: "Amiri", serif;
}

.custom-hr {
    width: 100%;
    border-color: black;
}