.jumbotron-blue {
  background-color: #aaa8aa
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

a {
   color: inherit;
}

a:hover {
  color: #003366;
}

.link-blue {
  color: #003366;
}

.regular-link {
  color: blue;
}

.title{
	text-transform: uppercase;
    font-size: 4.6rem;
    letter-spacing: 4px;
    text-align: center;
	font-family: 'Pathway Gothic One', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	color: #293685;
	margin: 0;
}

a:hover, a:visited{
	text-decoration: none;
}
a:hover{
	opacity: 0.75;
}

.description{
	text-align: center;
	font-size: 1.3rem;
    letter-spacing: 1.5px;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    word-wrap: break-word;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #293685;
}
.header{
	margin: 25px 0;
}

.navbar-asdf{
	background-color: #293685 !important;
	color: #293685 !important;
}
